<section class="timeslots hidden">
  <div class="content" data-state="0">
    <header>
      <h2>Feedback vrijdag 13 april</h2>
      <h3>Real-time web</h3>
      <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.499 19.499">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              stroke: #707070;
              stroke-width: 4px;
            }
          </style>
        </defs>
        <g id="Group_73" data-name="Group 73" transform="translate(-1246.086 -204.086)">
          <line id="Line_51" data-name="Line 51" class="cls-1" y1="16.671" x2="16.671" transform="translate(1247.5 205.5)" />
          <line id="Line_52" data-name="Line 52" class="cls-1" y1="16.671" x2="16.671" transform="translate(1264.171 205.5) rotate(90)"
          />
        </g>
      </svg>
    </header>
    <div class="state one">
      <nav>
        <ul data-active="0">
          <li>Laurens Aarnoudse</li>
          <li>Titus Wormer</li>
        </ul>
      </nav>
      <form>
        <div class="slots">
          <input type="radio" name="slots" id="radio1">
          <label for="radio1" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
              <img src="images/users/2.png" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio2">
          <label for="radio2" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio3">
          <label for="radio3" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio4">
          <label for="radio4" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio5">
          <label for="radio5" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio6">
          <label for="radio6" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio7">
          <label for="radio7" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio8">
          <label for="radio8" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio9">
          <label for="radio9" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio10">
          <label for="radio10" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
        </div>
        <div class="slots">
          <input type="radio" name="slots" id="radio11">
          <label for="radio11" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
              <img src="images/users/2.png" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio12">
          <label for="radio12" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio13">
          <label for="radio13" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio14">
          <label for="radio14" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio15">
          <label for="radio15" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio16">
          <label for="radio16" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio17">
          <label for="radio17" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio18">
          <label for="radio18" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio19">
          <label for="radio19" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
          <input type="radio" name="slots" id="radio20">
          <label for="radio20" class="slot">
            <div class="students">
              <img src="images/users/1.jpg" alt="">
            </div>
            <time>09:30-10:00</time>
          </label>
        </div>
        <button class="full subscribeBtn" type="button">Inschrijven</button>
      </form>
    </div>
    <div class="state two">
      <div>
        <time>13:30-14:00</time>
        <h4>Laurens Aarnoudse</h4>
      </div>
      <ul>
        <li>
          <img src="images/users/1.jpg" alt=""> Jelle Overbeek
        </li>
        <li>
          <img src="images/users/2.png" alt=""> Vienna Meijer
        </li>
        <li>
          <img src="images/users/profile.jpg" alt=""> Jij
        </li>
      </ul>
      <button class="full subscribeBtn" type="button">Uitschrijven</button>
    </div>
  </div>
</section>