.book {
  display: grid;
  grid-template-columns: 5fr 7fr;
  max-width: 55rem;
  margin: 7rem auto;
  h2 {
    color: $brand-primary;
  }
  aside {
    background: $brand-primary;
    color: $brand-light;
    padding: 1rem 3rem;
    height: 28rem;
    h1 {
      font-size: 3.75em;
      border-bottom: 1px solid $brand-light;
      margin-bottom: 1.5rem;
      font-family: 'Futura';
      font-weight: 500;
      padding-bottom: 1rem;
      padding-left: 2.5rem;
      line-height: 1.1;
    }
    .plane {
      position: absolute;
      height: 20px;
      opacity: 0;
      will-change: transform;
      &.flyForwards {
        transform: rotate(180deg);
        transition: 1000ms;
        opacity: 1;
        animation: flyForwards 1000ms forwards;
      }
      &.flyBackwards {
        transform: rotate(0);
        transition: 1000ms;
        opacity: 1;
        animation: flyBackwards 1000ms forwards;
      }
    }
    ol {
      padding: 2rem 1rem;
      position: relative;
      &:before {
        content: '';
        height: 55%;
        width: 1px;
        border-left: 1px dashed $brand-light;
        position: absolute;
        left: -0.155rem;
        top: 20%;
      }
      li {
        margin-bottom: 1rem;
        position: relative;
        &:before {
          $size: 0.76rem;
          content: '';
          position: absolute;
          left: -24px;
          top: 50%;
          transform: translateY(-50%);
          width: $size;
          height: $size;
          border-radius: 100px;
          border: 2px solid $brand-light;
          background: $brand-primary;
          transition: 300ms;
        }
        &:after {
          $size: 0.4rem;
          content: '';
          position: absolute;
          left: -21px;
          top: 50%;
          transform: translateY(-50%);
          width: $size;
          height: $size;
          border-radius: 100px;
          transition: 300ms;
        }
        &.done {
          &:before {
            border-color: $brand-secondary;
          }
          &:after {
            background: $brand-secondary;
          }
        }
        &.active {
          &:before {
            border-color: $brand-secondary;
          }
          &:after {
            background: $brand-light;
          }
        }
      }
    }
  }
  form {
    background: $brand-light;
    height: max-content;
    padding: 2rem 3rem;
    fieldset {
      display: none;
      &.active {
        display: block;
      }
      legend {
        font-size: 1.875em;
        color: $brand-primary;
        margin-bottom: 1.5rem;
      }
      label, small {
        display: block;
        font-size: 1em;
        color: $brand-primary;
        margin-bottom: 0.3rem;
      }
      .radiogroup {
        display: flex;
        label {
          margin-right: 1rem;
        }
      }
      .inputGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
      }
      .passenger {
        grid-template-columns: 1fr 1fr 1rem;
      }
      .flight {
        border: 1px solid $lightGrey;
        box-shadow: 0px 0px 2px 1px $lightGrey;
        padding: 1rem;
        margin-bottom: 1rem;
        position: relative;
        time {
          color: $brand-primary;
        }
        span {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1rem 1.5rem;
          font-size: 1.875rem;
          background: $brand-primary;
          color: $brand-light;
        }
        .bookNow {
          margin-bottom: 1rem;
          float: none;
          margin-left: auto;
          display: block;
        }
      }
      input {
        margin-bottom: 1rem;
        font-size: 1em;
        &:not([type="radio"]) {
          border: 1px solid $inactive;
          border-radius: 3px;
          width: calc(100% - 3px);
          height: 2rem;
          box-shadow: -3px 0 0px 0px $inactive;
          transform: translateX(3px);
          padding: 1.5rem 1rem;
          &:focus {
            outline: none;
            border-color: $brand-secondary;
            box-shadow: -3px 0 0px 0px $brand-secondary;
          }
        }
      }
      button {
        font-size: 1em;
        padding: 0.5rem 1rem;
        border: 0;
        &.next, &.bookNow {
          background: $brand-tertiary;
          color: $brand-light;
          float: right;
        }
        &.prev, &.addPerson {
          padding-left: 0;
          color: $brand-secondary;
          text-transform: lowercase;
          img {
            height: 0.8rem;
          }
        }
        &.addPerson {
          display: block;
        }
        &.remove {
          padding: 0;
        }
      }
    }
  }
}