.header {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-top: 5rem;
  nav {
    ul {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 3rem;
      justify-content: end;
      li {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        font-size: 1.5625rem;
        padding: 0.5rem 1rem;
        border-radius: 2px;
        position: relative;

        &:focus-within {
          background: rgba($color-brand, 0.2);
          a {
            &::after {
              opacity: 0;
            }
          }
          ul {
            opacity: 1;
          }
        }
        a {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background: $color-brand;
          }
        }
        img {
          height: 2rem;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.5rem;
          border-radius: 100px;
        }
      }
    }
  }
}