.subjects {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  main {
    grid-column: span 7;
    h2 {
      grid-column: span 6;
    }
    ul {
      margin-top: 1.7rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 9rem;
      grid-gap: 1rem;
      li {
        border: 3px solid $color-faded;
        text-align: center;
        font-size: 1.5625rem;
        font-weight: 700;
        opacity: 0.6;
        transition: background 300ms;
        &.full {
          grid-column: span 2;
        }
        &.active {
          border-color: $color-brand;
          opacity: 1;
          background: white;
        }
        &.finished {
          border-color: $color-secondary;
        }
        &.unfinished {
          border-color: $color-tertiary;
        }
        &:focus-within {
          background: $color-brand;
          border-color: $color-brand;
          opacity: 1;
        }
        a {
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;
          &:focus {
            color: white;
            &::after, &::before {
              display: none;
            }
          }
        }
      }
    }
  }
  aside {
    grid-column: 9 / -1;
    ul {
      margin-top: 1.7rem;
      display: grid;
      grid-gap: 1rem;
      li {
        padding: 1.5rem;
        border: 3px solid $color-faded;
        box-shadow: -5px 5px 0 0 $color-faded;
        transition: 300ms;
        &:focus-within {
          border: 3px solid $color-brand;
          box-shadow: -5px 5px 0 0 $color-brand;
        }
        div {
          margin-top: 0.9rem;
          font-size: 1.375rem;
          color: $color-text;
        }
        p {
          margin-top: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        a {
          color: $color-brand;
          &:focus {
            &::after, &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}