body {
  font-family: $font-base;
}
section {
  width: 95%;
  max-width: 70rem;
  margin: 3rem auto;
}
h1 {
  font-size: 3.5em;
  line-height: 3rem;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.87em;
}
p {
  font-size: 1em;
  color: $color-text;
}
a {
  color: inherit;
  transition: 300ms;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  place-items: center;
  &:before, &:after {
    font-size: 240%;
    font-family: $font-second;
    color: $color-brand;
    opacity: 0;
    transition: 300ms;
  }
  &:before {
    content: '{';
    transform: translatex(-5px);
  }
  &:after {
    content: '}';
    transform: translatex(5px);
  }
  &:focus, &:hover {
    outline: 0;
    text-decoration: none;
    color: $color-brand;
    &:before, &:after {
      opacity: 1;
      transform: translatex(0);
    }
  }
}