body {
  font-family: $font-base;
}
section {
  width: 95%;
  max-width: 70rem;
  margin: 0 auto;
}
h1 {
  font-size: 7.5em;
  line-height: 7rem;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.87em;
}
p {
  font-size: 1em;
  color: $color-text;
}
a {
  color: inherit;
  transition: 300ms;
  position: relative;
  &:before, &:after {
    position: absolute;
    top: -65%;
    font-size: 240%;
    font-family: $font-second;
    color: $color-brand;
    opacity: 0;
    transition: 300ms;
  }
  &:before {
    content: '{';
    left: -18%;
    transform: translatex(-5px);
  }
  &:after {
    content: '}';
    right: -18%;
    transform: translatex(5px);
  }
  &:focus {
    outline: 0;
    text-decoration: none;
    color: $color-brand;
    &:before, &:after {
      opacity: 1;
      transform: translatex(0);
    }
  }
}