$column-large: 1100px;
$column-small: 95%; // If you change this number make sure you change the numbers in de media query below.

// body {
//   margin: 0;
//   nav, header, footer, section, main {
//     width: $column-small; 
//     max-width: $column-large;
//     margin: 0 auto;
//     &.full {
//       width: 100%;
//       max-width: 100%;
//       padding: 0 calc((100% - #{$column-large}) / 2);
//       @media (max-width: $column-large + ($column-large*0.05)) { // <-- this number (100 - your number) / 100
//         padding: 0 ((100% - $column-small) / 2);
//       }
//     }
//   }
// }
body {
  font-family: 'Lato';
}
.background {
  background: url("../images/background1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 300ms;
}
body[data-active='0'] {
  .background {
    filter: blur(6px);
  }
}
body[data-active='1'] {
  .background {
    filter: blur(4px);
  }
}
body[data-active='2'] {
  .background {
    filter: blur(3px);
  }
}
body[data-active='3'] {
  .background {
    filter: blur(2px);
  }
}
body[data-active='4'] {
  .background {
    filter: blur(1px);
  }
}
body[data-active='5'] {
  .background {
    filter: none;
  }
}