/* base styles */
@import 'generic/variables';
@import 'generic/reset';
@import 'generic/animations';
@import 'generic/generic';
@import 'generic/objects';

/* component styles */
@import 'components/header';
@import 'components/timeline';
@import 'components/subjects';
@import 'components/teachers';
@import 'components/detail';