<section class="book">
  <aside>
    <h1>Vlucht boeken</h1>
    <ol>
      <li class="active">Kies uw bestemming</li>
      <li>Kies uw datum</li>
      <li>Bepaal uw gezelschap</li>
      <li>Kies uw heenreis</li>
      <li>Kies uw terugreis</li>
    </ol>
  </aside>
  <form>
    <fieldset class="active">
      <legend>Waar wilt u heen?</legend>
      <label for="form_departure_location">Van</label>
      <input type="text" id="form_departure_location" placeholder="Vertrekpunt">
      <label for="form_arrival_location">Naar</label>
      <input type="text" id="form_arrival_location" placeholder="Bestemming">
      <div class="radiogroup">
        <label><input type="radio" name="form_flight_class"> Business class</label>
        <label><input type="radio" name="form_flight_class"> Economy class</label>
      </div>
      <button type="button" class="next">Kies een datum</button>
    </fieldset>
    <fieldset>
      <legend>Wanneer wilt u op reis?</legend>
      <div class="radiogroup">
        <label><input type="radio" name="form_flight_retour" checked> Enkele reis</label>
        <label><input type="radio" name="form_flight_retour"> Retour</label>
      </div>
      <div class="inputGroup">
        <div class="inputWrap">
          <label for="form_departure">Heenreis</label>
          <input type="date" id="form_departure_time">
        </div>
        <div class="inputWrap">
          <label for="form_arrival">Terugreis</label>
          <input type="date" id="form_arrival_time">
        </div>
      </div>
      <button type="button" class="prev">Vorige stap</button>
      <button type="button" class="next">Kies gezelschap</button>
    </fieldset>
    <fieldset class="passengers">
      <legend>Met wie gaat u op reis?</legend>
      <div class="inputGroup passenger">
        <div class="inputWrap">
          <label for="form_departure">Voornaam</label>
          <input type="text" id="form_departure_time">
        </div>
        <div class="inputWrap">
          <label for="form_arrival">Achternaam</label>
          <input type="text" id="form_arrival_time">
        </div>
      </div>
      <button type="button" class="addPerson">Passagier toevoegen</button>
      <button type="button" class="prev">Vorige stap</button>
      <button type="button" class="next">Kies gezelschap</button>
    </fieldset>
    <fieldset>
      <legend>Kies uw heenreis</legend>
      <article class="flight">
        <small>Van</small>
        <h2>Amsterdam</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>07:30</time>
        <small>Naar</small>
        <h2>Aalborg</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>10:03</time>
        <span>€300</span>
        <button class="bookNow next" type="button">Boek nu</button>
      </article>
      <article class="flight">
        <small>Van</small>
        <h2>Amsterdam</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>07:30</time>
        <small>Naar</small>
        <h2>Aalborg</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>10:03</time>
        <span>€300</span>
        <button class="bookNow next" type="button">Boek nu</button>
      </article>
      <article class="flight">
        <small>Van</small>
        <h2>Amsterdam</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>07:30</time>
        <small>Naar</small>
        <h2>Aalborg</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>10:03</time>
        <span>€300</span>
        <button class="bookNow next" type="button">Boek nu</button>
      </article>
      <button type="button" class="prev">Vorige stap</button>
    </fieldset>
    <fieldset>
      <legend>Kies uw terugreis</legend>
      <article class="flight">
        <small>Van</small>
        <h2>Aalborg</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>07:30</time>
        <small>Naar</small>
        <h2>Amsterdam</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>10:03</time>
        <span>€300</span>
        <button class="bookNow next" type="button">Boek nu</button>
      </article>
      <article class="flight">
        <small>Van</small>
        <h2>Aalborg</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>07:30</time>
        <small>Naar</small>
        <h2>Amsterdam</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>10:03</time>
        <span>€300</span>
        <button class="bookNow next" type="button">Boek nu</button>
      </article>
      <article class="flight">
        <small>Van</small>
        <h2>Aalborg</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>07:30</time>
        <small>Naar</small>
        <h2>Amsterdam</h2>
        <time datetime="2018-04-16">2018-04-16</time>
        <time>10:03</time>
        <span>€300</span>
        <button class="bookNow next" type="button">Boek nu</button>
      </article>
      <button type="button" class="prev">Vorige stap</button>
    </fieldset>
    <fieldset>
      <legend>Overzicht</legend>
      <button type="button" class="prev">Vorige stap</button>
    </fieldset>
  </form>
</section>
