<section class="subjects">
  <main>
    <h2>Vakken</h2>
    <ul>
      <li class="full"><a href="meesterproef.html">Meesterproef</a></li>
      <li class="full"><a href="meesterproef.html">Project 3</a></li>
      <li class="active"><a href="meesterproef.html">Real-time Web</a></li>
      <li class="active"><a href="meesterproef.html">Web Design</a></li>
      <li class="full finished"><a href="meesterproef.html">Project 2: Lifely</a></li>
      <li class="finished"><a href="meesterproef.html">Performance Matters</a></li>
      <li class="finished"><a href="meesterproef.html">Browser Technologies</a></li>
      <li class="full unfinished"><a href="meesterproef.html">Project 1: OBA</a></li>
      <li class="finished"><a href="meesterproef.html">Web app from scratch</a></li>
      <li class="finished"><a href="meesterproef.html">CSS to the rescue</a></li>
    </ul>
  </main>
  <aside>
    <h2>Weekly nerd</h2>
    <ul>
      <li>
        <a href="weeklynerd.html#article1">
          <h3>Advanced Git Tips & Tricks</h3>
          <div>- Titus Wormer</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </a> 
      </li>
      <li>
        <a href="weeklynerd.html#article2">
          <h3>Browser Bloat</h3>
          <div>- Peter Paul Koch</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </a>
      </li>
      <li>
        <a href="weeklynerd.html#article3">
          <h3>Sketchnotes</h3>
          <div>- Justus Sturkenboom</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </a>
      </li>
      <li>
        <a href="weeklynerd.html#article4">
          <h3>Ux ?= FeD</h3>
          <div>- Stephan Hay</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </a>
      </li>
    </ul>
  </aside>
</section>