<section class="subjects">
  <h2>Vakken</h2>
  <main>
    <ul>
      <li class="full"><a href="#">Meesterproef</a></li>
      <li class="active"><a href="#">Real-time Web</a></li>
      <li class="active"><a href="#">Web Design</a></li>
      <li class="full active"><a href="#">Weekly nerd</a></li>
      <li class="full finished"><a href="#">Project 2: Lifely</a></li>
      <li class="finished"><a href="#">Performance Matters</a></li>
      <li class="finished"><a href="#">Browser Technologies</a></li>
      <li class="full unfinished"><a href="#">Project 1: OBA</a></li>
      <li class="finished"><a href="#">Web app from scratch</a></li>
      <li class="finished"><a href="#">CSS to the rescue</a></li>
    </ul>
  </main>
</section>