<section class="teachers">
  <h2 id="docenten">Docenten</h2>
  <main>
    <article>
      <figure>
        <img src="images/teachers/joost.jpg" alt="Foto van Joost Faber">
        <figcaption>Joost Faber <a href="mailto:j.faber@hva.nl">j.faber@hva.nl</a></figcaption>
      </figure>
    </article>
    <article>
      <figure>
        <img src="images/teachers/koop.png" alt="Foto van Koop Reynders">
        <figcaption>Koop Reynders <a href="mailto:k.reynders@hva.nl">k.reynders@hva.nl</a></figcaption>
      </figure>
    </article>
    <article>
      <figure>
        <img src="images/teachers/laurens.jpg" alt="Foto van Laurens Aarnoudse">
        <figcaption>Laurens Aarnoudse <a href="mailto:l.aarnoudse@hva.nl">l.aarnoudse@hva.nl</a></figcaption>
      </figure>
    </article>
    <article>
      <figure>
        <img src="images/teachers/titus.jpeg" alt="Foto van Titus Wormer">
        <figcaption>Titus Wormer <a href="mailto:t.wormer@hva.nl">t.wormer@hva.nl</a></figcaption>
      </figure>
    </article>
    <article>
      <figure>
        <img src="images/teachers/vasilis.jpg" alt="Foto van Vasilis van Gemert">
        <figcaption>Vasilis van Gemert <a href="mailto:v.gemert@hva.nl">v.gemert@hva.nl</a></figcaption>
      </figure>
    </article>
    <article>
      <figure>
        <img src="images/teachers/krijn.png" alt="Foto van Krijn Hoetmer">
        <figcaption>Krijn Hoetmer <a href="mailto:k.hoetmer@hva.nl">k.hoetmer@hva.nl</a></figcaption>
      </figure>
    </article>
  </main>
</section>