<section class="timeline">
  <progress max="100" value="60"></progress>
  <ol>
    <li>
      <div><img src="images/start.png"></div>
      <span>Kick-off</span>
    </li>
    <li>
      <div><img src="images/finished.png"></div>
      <span>Fase 1</span>
    </li>
    <li>
      <div class="failed"><img src="images/unfinished.png"></div>
      <span>Project 1</span>
    </li>
    <li>
      <div><img src="images/finished.png"></div>
      <span>Fase 2</span>
    </li>
    <li>
      <div><img src="images/finished.png"></div>
      <span>Project 2</span>
    </li>
    <li>
      <div class="active"><img src="images/doing.png"></div>
      <span>Fase 3</span>
    </li>
    <li>
      <div><img src="images/finished.png"></div>
      <span>Project 3</span>
    </li>
    <li>
      <div class="waiting"><img src="images/waiting.png"></div>
      <span>Meesterproef</span>
    </li>
    <li>
      <div class="waiting"><img src="images/end.png"></div>
      <span>Afsluiting</span>
    </li>
  </ol>
</section>