<section class="weeklynerd detail">
  <nav id="fixedNav">
    <ol>
      <li>
        <a href="#vakbeschrijving">Vakbeschrijving</a>
      </li>
      <li>
        <a href="#article1">Advanced Git Tips & Tricks</a>
      </li>
      <li>
        <a href="#article2">Browser bloat</a>
      </li>
      <li>
        <a href="#article3">Sketchnotes</a>
      </li>
      <li>
        <a href="#article4">Ux ?= FeD</a>
      </li>
    </ol>
  </nav>
  <main>
    <h2 id="vakbeschrijving">{{ title }}</h2>
    <h3>Intentie</h3>
    <p>In dit vak gaan we rapid prototypen en testen met echte gebruikers. Is er goede interactie? Zijn er goede design patterns
      gekozen? Zijn de basis regels van user interface design goed toegepast? Is er een focus op de core functionaliteit?</p>
    <h3>Leerdoelen</h3>
    <ul class="arrowList">
      <li>Interface design principles snappen en toepassen</li>
      <li>Leren hoe je moet (Usability) testen en de resultaten gebruiken voor het verbeteren van je ontwerp</li>
      <li>User needs begrijpen en gebruiken in je ontwerp</li>
    </ul>
    <article id="article1">
      <h2 id="week1">Advanced Git Tips & Tricks</h2>
      <h3>- Titus Wormer</h3>
      <h4>Samenvatting</h4>
      <p>Deze week gaan we aan de slag met git. Wat doe je nu al en wat kan beter?</p>
      <ol>
        <li>Presentatie:
          <a href="#">Powerpoint</a>
        </li>
      </ol>
      <h5>Terugkijken</h5>
      <video controls>
        <source src="images/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </article>
    <article id="article2">
      <h2 id="week1">Browser bloat</h2>
      <h3>- Peter Paul Koch</h3>
      <h4>Samenvatting</h4>
      <p>Deze week gaan we aan de slag met git. Wat doe je nu al en wat kan beter?</p>
      <ol>
        <li>Presentatie:
          <a href="#">Powerpoint</a>
        </li>
      </ol>
      <h5>Terugkijken</h5>
      <video controls>
        <source src="images/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </article>
    <article id="article3">
      <h2 id="week1">Sketchnotes</h2>
      <h3>- Justus Sturkenboom</h3>
      <h4>Samenvatting</h4>
      <p>Deze week gaan we aan de slag met git. Wat doe je nu al en wat kan beter?</p>
      <ol>
        <li>Presentatie:
          <a href="#">Powerpoint</a>
        </li>
      </ol>
      <h5>Terugkijken</h5>
      <video controls>
        <source src="images/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </article>
    <article id="article4">
      <h2 id="week1">Ux ?= FeD</h2>
      <h3>- Stephan Hay</h3>
      <h4>Samenvatting</h4>
      <p>Deze week gaan we aan de slag met git. Wat doe je nu al en wat kan beter?</p>
      <ol>
        <li>Presentatie:
          <a href="#">Powerpoint</a>
        </li>
      </ol>
      <h5>Terugkijken</h5>
      <video controls>
        <source src="images/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </article>
  </main>
</section>