/* base styles */
:root {
  --timeslotNavLeft: 0px;
  --timeslotNavWidth: 0px; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  max-width: 100%; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }
  fieldset legend {
    padding: 0; }

@keyframes sweep {
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pop {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes slideUp {
  to {
    transform: translatey(0);
    opacity: 1; } }

@keyframes fadeIn {
  to {
    opacity: 1; } }

body {
  font-family: "Hind";
  background: #f3f2f5; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  font-size: 1.875em;
  font-weight: bold; }

button {
  padding: 0.375rem 1.125rem;
  border: 2px solid #481ef7;
  text-transform: uppercase;
  background: transparent;
  color: #481ef7;
  font-weight: 700;
  border-radius: 2px;
  font-size: 0.875em;
  display: block;
  font-family: "Hind"; }
  button.add::before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background: url("../images/icons/add@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
    vertical-align: middle; }
  button.add:focus {
    outline: none; }
  button.full {
    background: #481ef7;
    color: #fff; }
  button.active {
    animation: pop 300ms forwards; }

/* component styles */
body > header {
  background: #fff; }
  body > header .content {
    max-width: 65.625rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  body > header h1 {
    padding: 1.2rem 0; }
  body > header nav ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2.625rem; }
  body > header nav li {
    font-size: 1.25em;
    height: 100%;
    position: relative;
    color: rgba(21, 21, 21, 0.5);
    transition: 300ms; }
    body > header nav li.active {
      font-weight: bold;
      color: #151515; }
      body > header nav li.active:after {
        background: #481ef7; }
    body > header nav li:after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      background: rgba(72, 30, 247, 0);
      height: 4px;
      width: 100%;
      transition: 300ms; }
    body > header nav li:hover {
      color: #151515; }
      body > header nav li:hover:after {
        background: rgba(72, 30, 247, 0.5); }
    body > header nav li.profile::after {
      display: none; }
    body > header nav li a {
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;
      text-decoration: none;
      color: inherit; }
    body > header nav li img {
      max-height: 2.8125rem;
      border-radius: 100px; }

.mainBlock {
  max-width: 65.625rem;
  margin: 4.6875rem auto;
  display: flex;
  align-items: flex-start; }
  .mainBlock h2 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .mainBlock h3 {
    font-weight: normal; }
  .mainBlock aside {
    width: 33%;
    background: #fff;
    padding: 1rem 1.875rem;
    margin-right: 1rem; }
    .mainBlock aside a {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: 0.875rem;
      opacity: 0.38;
      text-decoration: none;
      color: #151515;
      padding: 1rem 0;
      transition: 300ms; }
      .mainBlock aside a:hover {
        opacity: 1;
        color: #481ef7; }
        .mainBlock aside a:hover svg {
          fill: #481ef7;
          margin-right: 0.3rem; }
    .mainBlock aside svg {
      height: 2.1875rem;
      transition: 300ms; }
  .mainBlock .last {
    border-bottom: 1px solid rgba(21, 21, 21, 0.14); }
  .mainBlock .doing a {
    opacity: 1; }
  .mainBlock .active a {
    opacity: 1;
    color: #481ef7; }
    .mainBlock .active a svg {
      fill: #481ef7;
      margin-right: 0.3rem; }
  .mainBlock main {
    background: #fff;
    padding: 1rem 1.875rem;
    width: 66%; }
    .mainBlock main header {
      display: flex;
      align-items: center; }
    .mainBlock main h2 {
      font-size: 3.125rem;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 3rem; }
    .mainBlock main .done {
      display: flex;
      align-items: center;
      background: #3dbf00;
      border-radius: 100px;
      padding: 0.25rem 1.25rem;
      color: #fff;
      font-weight: 500; }
      .mainBlock main .done svg {
        height: 1rem;
        margin-right: 0.625rem; }
    .mainBlock main nav {
      margin-top: 1rem; }
      .mainBlock main nav ul {
        display: flex; }
      .mainBlock main nav li {
        margin-right: 1rem;
        background: #f0f0f0;
        border-radius: 5px;
        font-size: 1.25em; }
      .mainBlock main nav .active {
        background: #481ef7; }
        .mainBlock main nav .active a {
          color: #fff; }
      .mainBlock main nav a {
        display: block;
        padding: 0.2875rem 1rem; }
    .mainBlock main .information {
      margin-top: 1.8125rem;
      padding: 0 1.25rem; }
      .mainBlock main .information h3 {
        font-size: 1.25em;
        font-weight: 500;
        margin-top: 2rem; }
      .mainBlock main .information p,
      .mainBlock main .information li {
        font-weight: 300; }
      .mainBlock main .information li {
        margin-bottom: 1rem; }
      .mainBlock main .information ol {
        padding: 0 0 0 1rem; }
      .mainBlock main .information details {
        background: #f0f0f0;
        border-radius: 5px;
        display: inline-block;
        min-width: 0;
        transition: 300ms; }
        .mainBlock main .information details summary {
          user-select: none;
          font-weight: 500;
          padding: 1rem; }
          .mainBlock main .information details summary:focus {
            outline: none; }
        .mainBlock main .information details .details {
          padding: 0 1rem 1rem 1rem; }
        .mainBlock main .information details[open] {
          min-width: 100%; }
          .mainBlock main .information details[open] p,
          .mainBlock main .information details[open] div {
            animation: sweep 300ms forwards;
            animation-delay: 200ms; }
        .mainBlock main .information details p {
          display: block;
          opacity: 0;
          transform: translatex(-10px);
          margin-top: 0;
          margin-bottom: 0;
          font-weight: 400; }
        .mainBlock main .information details .button {
          opacity: 0;
          transform: translatex(-10px);
          display: flex;
          align-items: center;
          padding-top: 1rem; }
          .mainBlock main .information details .button button {
            margin-right: 1rem; }
          .mainBlock main .information details .button span {
            color: #481ef7;
            opacity: 1;
            transition: 300ms; }
            .mainBlock main .information details .button span.hidden {
              opacity: 0;
              transition: 300ms; }
      .mainBlock main .information a {
        color: #481ef7;
        text-decoration: underline; }
        .mainBlock main .information a:before {
          content: '';
          height: 0.625rem;
          width: 0.625rem;
          display: inline-block;
          vertical-align: middle;
          background: url("../images/icons/export.png");
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: 0.1875rem; }

.timeslots {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: 300ms; }
  .timeslots.hidden {
    opacity: 0;
    pointer-events: none; }
  .timeslots h2 {
    font-size: 2.5em; }
  .timeslots h3 {
    color: #737373;
    margin-top: -15px; }
  .timeslots nav ul {
    display: flex;
    position: relative;
    margin-bottom: 1rem; }
    .timeslots nav ul::before, .timeslots nav ul::after {
      height: 3px;
      content: '';
      position: absolute;
      bottom: -0.3125rem;
      left: 0; }
    .timeslots nav ul::before {
      background: rgba(21, 21, 21, 0.14);
      width: 100%; }
    .timeslots nav ul::after {
      background: #481ef7;
      left: var(--timeslotNavLeft);
      width: var(--timeslotNavWidth);
      transition: 300ms; }
    .timeslots nav ul[data-active='0'] li:nth-child(1) {
      color: #151515; }
    .timeslots nav ul[data-active='1'] li:nth-child(2) {
      color: #151515; }
    .timeslots nav ul li {
      color: #737373;
      margin-right: 1.5rem;
      cursor: pointer;
      font-size: 1.25em; }
  .timeslots header {
    position: relative; }
  .timeslots .close {
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: 0; }
  .timeslots form {
    display: grid; }
    .timeslots form .slots {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.9375rem;
      padding: 0;
      list-style: none;
      opacity: 0;
      transform: translatey(1.5rem);
      position: absolute;
      pointer-events: none; }
      .timeslots form .slots.active {
        position: static;
        pointer-events: unset;
        animation: slideUp 300ms forwards; }
    .timeslots form input {
      position: absolute;
      opacity: 0;
      pointer-events: none; }
      .timeslots form input:checked + label {
        background: #481ef7;
        border-color: #481ef7;
        color: white; }
    .timeslots form label {
      border: 3px solid #dedede;
      border-radius: 5px;
      display: grid;
      place-items: center;
      position: relative;
      padding: 1.25rem;
      font-size: 1.25em;
      color: #737373;
      transition: 300ms;
      cursor: pointer; }
    .timeslots form .students {
      position: absolute;
      top: 0.2rem;
      right: 0.5rem;
      display: flex; }
      .timeslots form .students img {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        border: 3px solid #fff; }
        .timeslots form .students img:nth-child(n + 2) {
          margin-left: -5px; }
    .timeslots form button {
      margin-top: 2rem;
      justify-self: end; }
  .timeslots .two {
    display: grid; }
    .timeslots .two > div {
      display: flex;
      justify-content: space-between;
      position: relative; }
      .timeslots .two > div::before {
        height: 3px;
        content: '';
        position: absolute;
        bottom: -0.3125rem;
        left: 0;
        background: rgba(21, 21, 21, 0.14);
        width: 100%; }
      .timeslots .two > div h4 {
        font-weight: 400;
        font-size: 1.25em; }
      .timeslots .two > div time {
        font-size: 1.25em; }
    .timeslots .two ul {
      margin: 2rem 0;
      display: grid;
      grid-gap: 0.8rem; }
      .timeslots .two ul img {
        height: 2rem;
        width: 2rem;
        border-radius: 100px;
        margin-right: 1rem; }
      .timeslots .two ul li {
        display: flex;
        align-items: center; }
    .timeslots .two button {
      justify-self: end; }
  .timeslots .content {
    background: #fff;
    width: 41.25rem;
    padding: 1.4375rem 2.0625rem; }
  .timeslots .state {
    display: none;
    margin-top: 1rem; }
  .timeslots [data-state='0'] .state.one {
    display: block; }
  .timeslots [data-state='1'] .state.two {
    display: grid;
    animation: fadeIn 1s forwards; }

.planning .appointment h3 {
  font-size: 1.25em;
  font-weight: 700;
  color: #151515; }

.planning .appointment time,
.planning .appointment p {
  display: block;
  font-size: 0.875em;
  margin: 0;
  margin-top: -5px; }

.planning .appointment p {
  color: #151515; }

.planning main .information ol {
  list-style: none;
  padding: 0 2rem; }
  .planning main .information ol li {
    margin: 1.25em 0;
    font-size: 1.25em;
    display: grid;
    grid-auto-flow: column; }
    .planning main .information ol li:hover img {
      opacity: 1;
      pointer-events: unset; }

.planning main img {
  vertical-align: middle;
  justify-self: end;
  opacity: 0;
  pointer-events: none;
  transition: 300ms; }

.planning main label {
  position: relative; }
  .planning main label::before {
    content: '';
    position: absolute;
    border-radius: 5px;
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid #481ef7;
    top: 50%;
    transform: translatey(-50%);
    left: -2rem; }
  .planning main label::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: -1.75rem;
    height: 1rem;
    width: 1rem; }

.planning main input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  pointer-events: none; }
  .planning main input[type='checkbox']:checked + label {
    opacity: 0.38;
    text-decoration: line-through; }
    .planning main input[type='checkbox']:checked + label::before {
      opacity: 0.7; }
    .planning main input[type='checkbox']:checked + label::after {
      background: url("../images/icons/check2@2x.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }

.planning form {
  border: 1px solid rgba(21, 21, 21, 0.19);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.625rem 0.625rem 0.625rem 1rem; }
  .planning form input {
    border: none;
    font-size: 1.25em;
    font-family: "Hind"; }
    .planning form input:focus {
      outline: none; }
    .planning form input::placeholder {
      opacity: 0.5; }
