button {
  padding: 0.375rem 1.125rem;
  border: 2px solid $brand-color-1;
  text-transform: uppercase;
  background: transparent;
  color: $brand-color-1;
  font-weight: 700;
  border-radius: 2px;
  font-size: 0.875em;
  display: block;
  font-family: $font-base;
  &.add {
    &::before {
      content: '';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background: url('../images/icons/add@2x.png');
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
    &:focus {
      outline: none;
    }
  }
  &.full {
    background: $brand-color-1;
    color: #fff;
  }
  &.active {
    animation: pop 300ms forwards;
  }
}
