.timeslots {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: 300ms;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    color: #737373;
    margin-top: -15px;
  }
  nav {
    ul {
      display: flex;
      position: relative;
      margin-bottom: 1rem;
      &::before,
      &::after {
        height: 3px;
        content: '';
        position: absolute;
        bottom: -0.3125rem;
        left: 0;
      }
      &::before {
        background: rgba($base-color-dark, 0.14);
        width: 100%;
      }
      &::after {
        background: $brand-color-1;
        left: var(--timeslotNavLeft);
        width: var(--timeslotNavWidth);
        transition: 300ms;
      }
      &[data-active='0'] {
        li:nth-child(1) {
          color: $base-color-dark;
        }
      }
      &[data-active='1'] {
        li:nth-child(2) {
          color: $base-color-dark;
        }
      }
      li {
        color: #737373;
        margin-right: 1.5rem;
        cursor: pointer;
        font-size: 1.25em;
      }
    }
  }
  header {
    position: relative;
  }
  .close {
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  form {
    display: grid;
    .slots {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.9375rem;
      padding: 0;
      list-style: none;
      opacity: 0;
      transform: translatey(1.5rem);
      position: absolute;
      pointer-events: none;
      &.active {
        position: static;
        pointer-events: unset;
        animation: slideUp 300ms forwards;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      &:checked + label {
        background: $brand-color-1;
        border-color: $brand-color-1;
        color: white;
      }
    }
    label {
      border: 3px solid #dedede;
      border-radius: $border-radius;
      display: grid;
      place-items: center;
      position: relative;
      padding: 1.25rem;
      font-size: 1.25em;
      color: #737373;
      transition: 300ms;
      cursor: pointer;
    }
    .students {
      position: absolute;
      top: 0.2rem;
      right: 0.5rem;
      display: flex;
      img {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        border: 3px solid #fff;
        &:nth-child(n + 2) {
          margin-left: -5px;
        }
      }
    }
    button {
      margin-top: 2rem;
      justify-self: end;
    }
  }
  .two {
    display: grid;
    > div {
      display: flex;
      justify-content: space-between;
      position: relative;
      &::before {
        height: 3px;
        content: '';
        position: absolute;
        bottom: -0.3125rem;
        left: 0;
        background: rgba($base-color-dark, 0.14);
        width: 100%;
      }
      h4 {
        font-weight: 400;
        font-size: 1.25em;
      }
      time {
        font-size: 1.25em;
      }
    }
    ul {
      margin: 2rem 0;
      display: grid;
      grid-gap: 0.8rem;
      img {
        height: 2rem;
        width: 2rem;
        border-radius: 100px;
        margin-right: 1rem;
      }
      li {
        display: flex;
        align-items: center;
      }
    }
    button {
      justify-self: end;
    }
  }
  .content {
    background: #fff;
    width: 41.25rem;
    padding: 1.4375rem 2.0625rem;
  }
  .state {
    display: none;
    margin-top: 1rem;
  }
  [data-state='0'] {
    .state {
      &.one {
        display: block;
      }
    }
  }
  [data-state='1'] {
    .state {
      &.two {
        display: grid;
        animation: fadeIn 1s forwards;
      }
    }
  }
}
